<%= File.read(Rails.root.join("node_modules/fine-uploader/fine-uploader/templates/simple-thumbnails.html")).html_safe %>

<% @report.set_default_empty_extra_signatures! %>
<%= simple_form_for(@report, :wrapper => :horizontal_form, :wrapper_mappings => { :radio_buttons => :horizontal_collection }, :html => { :class => "report-form" }) do |f| %>
  <%= render("/form_errors", :record => @report) %>

  <p><abbr title="required">*</abbr> Required field</p>

  <div class="form-horizontal">
    <%= f.input :type, :as => :radio_buttons, :collection => Report::TYPES.invert %>
    <%= f.input :property_name %>
    <%= f.input :monitoring_year, :collection => monitoring_year_options(@report), :input_html => { :class => "form-control-inline" } %>
    <%= f.input :photographer_name %>
    <%= f.input :photo_starting_num %>
    <%= f.input :extra_signatures, :as => :array %>
    <% if(@report.photos.present?) %>
      <div class="row form-group" id="uploader_toggle">
        <div class="col-sm-8 offset-sm-4">
          <%= link_to('<i class="fas fa-plus"></i>Add additional new photos'.html_safe, "#") %>
        </div>
      </div>
    <% end %>
    <div class="row form-group" id="uploader_container" style="<%= "display: none" if(@report.photos.present?) %>">
      <div class="col-sm-4 form-control-label">
        <label for="property"><abbr title="required">*</abbr> Photos</label>
        <span class="form-text text-muted">Upload either JPEG files or KMZ files.</span>
      </div>
      <div class="col-sm-8">
        <div id="uploader"></div>
        <div id="uploader_uuids">
          <% if(@report.upload_uuids) %>
            <% @report.upload_uuids.each do |uuid| %>
              <%= f.hidden_field(:upload_uuids, :multiple => true, :value => uuid) %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <script>
      setupUploader('uploader', 'report[upload_uuids][]');
    </script>
  </div>

  <% unless(@report.new_record?) %>
    <%= f.simple_fields_for(:photos, :wrapper => :inline_form) do |pf| %>
      <% next unless(pf.object.persisted?) %>
      <div class="row form-group photo-form">
        <div class="col-sm-4 text-center">
          <% if(pf.object.image? && pf.object.image.file.last_modified) %>
            <%= image_tag(pf.object.image.thumbnail.url, :class => "img-fluid center-block") %>
            <div class="photo-num">Photo <%= @report.photo_starting_num + pf.index %></div>
            <%= link_to("Download original", "#{pf.object.image.url}?download=true") %><br>
          <% else %>
            <em>Missing photo</em><br>
          <% end %>
          <div id="uploader_<%= pf.object.id %>_toggle">
            <%= link_to("Replace photo", "#") %>
          </div>
          <div id="uploader_<%= pf.object.id %>_container" style="display: none;">
            <div id="uploader_<%= pf.object.id %>"></div>
            <div id="uploader_<%= pf.object.id %>_uuids"></div>
          </div>
          <script>
            setupUploader('uploader_<%= pf.object.id %>', 'report[photos_attributes][<%= pf.options[:child_index] %>][upload_uuid]', {
              multiple: false,
              validation: {
                allowedExtensions: ['jpg', 'jpeg'],
              },
            });
          </script>
        </div>
        <div class="col-sm-5"><%= pf.input(:caption, :as => :text, :input_html => { :rows => 8 }) %></div>
        <div class="col-sm-3">
          <%= render("photo_metadata", :photo => pf.object) %>
          <%= pf.input(:_destroy, :as => :boolean) %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row submit">
    <div class="col-sm-12 text-center">
      <%= f.button :button, :class => "btn-lg btn-primary", "data-after-submit-text" => '<i class="fas fa-sync-alt fa-spin"></i>Saving...'.html_safe %>
      <%= link_to("Cancel", :back, :class => "text-danger cancel") %>
    </div>
  </div>
<% end %>
