<div class="row">
  <div class="col-sm-6">
    <h1>SAHC Monitoring Reports</h1>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Report'.html_safe, new_report_path, :class => "btn btn-primary btn-lg") %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Property Name</th>
      <th style="width: 100px;">Monitoring Year</th>
      <th style="width: 95px;">Report Type</th>
      <th style="width: 105px;">Created</th>
      <th style="width: 105px;">Last Updated</th>
      <th style="width: 180px;"></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to(report.property_name, report_path(report)) %></td>
        <td><%= report.monitoring_year %></td>
        <td><%= report.type_name %></td>
        <td data-order="<%= report.created_at.iso8601 %>"><%= l(report.created_at, :format => :long) %></td>
        <td data-order="<%= report.updated_at.iso8601 %>"><%= l(report.updated_at, :format => :long) %></td>
        <td class="actions">
          <%= link_to('<span class="glyphicon glyphicon-file" aria-hidden="true"></span>Download PDF'.html_safe, download_report_path(report)) %>
          <%= link_to('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>Edit'.html_safe, edit_report_path(report)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){
    $('table').DataTable({
      pageLength: 50,
      order: [[3, 'desc']],
      columnDefs: [
        { targets: 3, type: 'string' },
        { targets: 4, type: 'string' },
        { targets: 5, orderable: false },
      ]
    });
  });
</script>
