<%= form_tag(reports_path) do %>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="property" class="col-sm-2 control-label">Name of Property</label>
      <div class="col-sm-10">
        <%= text_field_tag(:property, nil, :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label for="property" class="col-sm-2 control-label">Year of Monitoring</label>
      <div class="col-sm-10">
        <%= select_tag(:year, options_for_select((Date.today.year - 1)..(Date.today.year + 1), Date.today.year), :class => "form-control") %>
      </div>
    </div>
    <div class="form-group">
      <label for="photographer" class="col-sm-2 control-label">Name of Photographer</label>
      <div class="col-sm-10">
        <%= text_field_tag(:photographer, nil, :class => "form-control") %>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Filename</th>
        <th style="width: 1%">Image</th>
        <th>Caption</th>
        <th>Metadata</th>
      </tr>
    </thead>
    <tbody>
      <% @uploads.each do |upload| %>
        <tr>
          <td><%= upload[:name] %></td>
          <td><%= hidden_field_tag("uploads[#{upload.object_id}][image]", upload[:image]) %><img src="data:image/jpg;base64,<%= upload[:image] %>" width="200"></td>
          <td><%= text_area_tag("uploads[#{upload.object_id}][caption]", upload[:caption], :class => "form-control", :rows => 4) %></td>
          <td>
            Time: <%= upload[:exif].date_time_original %><br>
            Latitude: <%= upload[:exif].gps.latitude if(upload[:exif].gps) %><br>
            Longitude: <%= upload[:exif].gps.longitude if(upload[:exif].gps) %><br>
            Altitude: <%= upload[:exif].gps.altitude if(upload[:exif].gps) %><br>
            Direction: <%= upload[:exif].gps.image_direction if(upload[:exif].gps) %><br>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag("Create Report", :class => "btn btn-lg btn-primary") %>
<% end %>
